body
{
    font-family: 'Montserrat', sans-serif;
}
:root
{
    --color-main:#1c1c1c;
    --color-secondry:#343434;
    --bg-color:#f7f7f7;
}
nav
{
    background-color: transparent ;
    
}
.dash
{
    position: relative;
}
.dash::after
{
    content: "";
    background-color: white;
    position: absolute;
    top: 75%;
    left: 15%;
    width: 2.55rem;
    height: 0.1rem;
}
.navbar-nav
{
    width: 700px;

}
.nav-link
{
    color: white;
    font-size: 0.9rem;
}
header
{
    background-image: url(../img/bg.jpg);
    background-position: center left;
    background-size: cover;

}
header .layer-home
{
    background-color: rgba(0,0,0,0.6);
}
header .layer-home h5
{
    font-size: 3rem;
}
header .layer-home h1
{
    position: relative;
}
header .layer-home h1::after
{
    content: "";
    position: absolute;
    font-size: 5rem;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    animation: type 7s infinite;
}
@keyframes type {

    0%{content: "I Am L|";}
    3.7%{content: "I Am La|";}
    7.4%{content: "I Am Larr|";}
    11.1%{content: "I Am Larry|";}
    14.8%{content: "I Am Larry|" ;}
    18.5%{content: "I Am Larry D|";}
    22.2%{content: "I Am Larry Da|";}
    25.9%{content: "I Am Larry Dan|";}
    29.6%{content: "I Am Larry Dani|";}
    33.3%{content: "I Am Larry Danie|";}
    37%{content: "I Am Larry Daniel|";}
    40.7%{content: "I Am Larry Daniels|";}
    44.4%{content: "I Am D|";}
    48.1%{content: "I Am De|";}
    51.8%{content: "I Am Dev|";}
    55.5%{content: "I Am Deve|";}
    59.2%{content: "I Am Devel|";}
    62.9%{content: "I Am Develo|";}
    66.6%{content: "I Am Develop|";}
    70.3%{content: "I Am Develope|";}
    74%{content: "I Am Developer|";}
    77.7%{content: "I Am D|";}
    81.4%{content: "I Am De|";}
    85.1%{content: "I Am Des|";}
    88.8%{content: "I Am Desi|";}
    92.5%{content: "I Am Desig|";}
    96.2%{content: "I Am Design|";}
    100%{content: "I Am Designer|";}
    
}
@media screen and (max-width:700px) {

    header .layer-home h1::after
{
   font-size: 3rem;
}
    
}
header .icon-home
{
    width:  2.4rem;
    height:  2.4rem;
    font-size: 0.8rem;
    background-color: rgba(0,0,0,0.2);
}
#about h2
{
    color: var(--color-secondry);
}

#about .col-lg-5 
{
    position: relative;
}
#about .col-lg-5::before
{
    content: "";
    position: absolute;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    width: 90%;
    height: 80%;
    top: 18%;
    right: 5%;
    z-index: -1;
    
}



.range
{
    width: 100%;
    background-color: #fff;
    height: 1.6rem;
    box-shadow: 0px 1px 8px 0.1px #ced4da inset;

}
.font-range
{
    font-size: 0.7rem;
}
.range1
{
    background-color: var(--color-main);
    width: 95%;
    height:100%;
}
.range2
{
    background-color: var(--color-main);
    width: 80%;
    height:100%;
}
.range3
{
    background-color: var(--color-main);
    width: 90%;
    height:100%;
}
.btn-about
{
    padding: 10px 30px;
    border: 1px solid var(--color-main);
    font-size: 0.8rem;
    
}
.btn-about1
{
    color: #eee;
    background-color: var(--color-main);
    transition: all 0.5s;

}
.btn-about2 a
{
    text-decoration: none;
    color: var(--color-main);
    transition: all 0.5s;
}
.btn-about2:hover a
{
    color: #eee;
}
.btn-about2
{
    transition: all 0.5s;
    background-color: #fff;
}
.btn-about2:hover
{
    background-color: var(--color-main);
    
}
.btn-about1:hover
{
    background-color: #fff;
    color: var(--color-main);
}
#Services
{
    background-color: var(--bg-color);
}
#Services h2
{
    font-size: 2.5rem;
    z-index: 100;
    position: relative;
    color: var(--color-secondry);
}
#Services h2::after
{
    content: "";
    position: absolute;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    width: 180px;
    height: 40%;
    top: 40%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
}
#Services .col-lg-4 p
{
    font-size: 0.8rem;
}
#Services .col-lg-4 h5
{
    color: var(--color-secondry);
}
#Services .col-lg-4:hover .icone-service
{
    background-color: var(--color-main);
    color: #eee;
}
.icone-service
{
    width: 4rem;
    height: 4rem;
    background-color: var(--bg-color);
    font-size: 1.6rem;
    color: var(--color-secondry);
    transition: all 0.5s;
}
#Portfolio h6
{
    letter-spacing: 5px;
    font-size: 0.7rem;
}
#Portfolio h2
{
    position: relative;
    font-size: 2.5rem;
    color: var(--color-secondry);
}
#Portfolio h2::after
{
    content: "";
    position: absolute;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    width: 190px;
    height: 40%;
    top: 40%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
}

.layer-prtfolio
{
    top: 1.5%;
    left: 1.5%;
    background-color: #fff;
    opacity: 0;
    transition: all 1s;
    width:97%;
    height: 97%;
    background-color: rgba(255,255,255,0.9);
    background-position: center center;
    
}
.layer-prtfolio:hover
{
    opacity: 1;
}
.icone-portfolio
{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.71rem;
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    color: #eee;
    transition: all 0.5s;
}
.icone-portfolio:hover
{
    background-color: #fff;
    color: var(--color-main);
}

#Portfolio .nav-pills [data-bs-target]
{
    color: var(--color-main);
}
#Portfolio .nav-pills .nav-link
{
    font-weight:lighter;
}
#Portfolio .nav-pills .nav-link.active
{
    background-color: white !important;
    color: var(--color-main) !important;
    font-weight: bolder;
    position: relative;
    
}
#Portfolio .nav-pills .nav-link.active::after
{
    content: "";
    position: absolute;
    background-color: var(--color-main);
    width: 2rem;
    height: 0.15rem;
    top:80% ;
    left: 50%;
    transform: translateX(-50%);

}
#Testimonials
{
    background-color: var(--bg-color);
}
#Testimonials h2
{
    position: relative;
    font-size: 2.5rem;
    z-index: 1;
    color: var(--color-secondry);
    
}
#Testimonials h2::after
{
    content: "";
    position: absolute;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    width: 255px;
    height: 50%;
    top: 50%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;
   
}
#Testimonials h6
{
    font-size: 0.7rem;
}
#Testimonials h5
{
    font-size: 1rem;

}
.empty-test
{
    width: 5rem;
    height: 5rem;
    background-color: transparent;
}
#Testimonials .carousel-indicators [data-bs-target]
{
    width: 0.7rem;
    height: 0.7rem;
    background-color:#869791;
    border-radius: 50%;
    margin: 0 8px;
}

.number-client i
{
    font-size: 2rem;
    color: var(--color-secondry);
}
.number-client h5
{
    font-size: 2rem;
    color: var(--color-secondry);
}
.number-client h6
{
    font-size: 0.9rem;
}
#blog
{
    background-color: var(--bg-color);
}
#blog .col-lg-4 img
{
    transition: all 1s;
}
#blog .col-lg-4:hover img
{
    transform: scale(1.2,1.2);

}
#blog h2
{
    position: relative;
    font-size: 2.5rem;
    z-index: 2;
}
#blog h2::after
{
    content: "";
    position: absolute;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    width: 180px;
    height: 40%;
    top: 40%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;

}


#blog .col-lg-4 h6 a
{
    font-size: 0.7rem;
    text-decoration-line:none;
    color:#888;
}
#blog .col-lg-4 h4 a
{
    text-decoration-line:none;
    color:var(--color-secondry);
    font-size: 1.2rem;
    
}
#blog .col-lg-4 span a
{
    text-decoration-color: var(--color-main);
    color:var(--color-secondry);
    font-size: 0.9rem;
    
}
#blog .carousel-indicators [data-bs-target]
{
    width: 0.7rem;
    height: 0.7rem;
    background-color:#869791;
    border-radius: 50%;
    margin: 0 6px;
} 
#contact h2
{
    position: relative;
    font-size: 2.5rem;
    z-index: 1;
}
#contact h2::after
{
    content: "";
    position: absolute;
    background-image: url(../img/dots.png);
    background-repeat: repeat;
    width: 230px;
    height: 40%;
    top: 40%;
    left:50%;
    transform: translateX(-50%);
    z-index: -1;

}

#contact .icons-contact
{
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    background-color: var(--bg-color);
    color: var(--color-secondry);
    transition: all 0.5s;
}
#contact .col-lg-4:hover .icons-contact
{
    background-color: var(--color-main);
    color: #fff;

}
#contact .input-contact
{
    border: none;
    background-color: #f4f4f4;
}
#contact .area-contact
{
    border: none;
    background-color: #f4f4f4;
}
#contact .btn-contact
{
    padding: 10px 40px;
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    transition: all 0.5s;
}
#contact .btn-contact a
{
    font-size: 0.8rem;
    color: #fff;
    transition: all 0.5s;
}
#contact .btn-contact:hover
{
    background-color: #fff;
    
}
#contact .btn-contact:hover a
{
    color: var(--color-main);
}
footer
{
    background-color: var(--color-main);
    color: #748182;
    font-size: 0.7rem;
    word-spacing: 2px;
}